<html>
    <head>
        <title>Tulpagraphy</title>
        <link rel="stylesheet" href="/content/tulpagraphy.css">
    </head>
    <body>
        <div id="tulpagraphy">
            <ul class="controls">
                <li>
                    <span><img alt="Map Layer" title="Map Layer" src="/images/ui/stack.png"/></span>
                    <ul>
                        <li>
                            <span><img id="terrainLayer" alt="Terrain Layer" title="Terrain Layer" src="/images/ui/grass.png" onclick="tg.mapViewModel.changeActiveLayer('terrain')"></span>
                            <span><img id="roadLayer" alt="Road Layer" title="Road Layer" src="/images/ui/path.png" onclick="tg.mapViewModel.changeActiveLayer('road')"></span>
                            <span><img id="riverLayer" alt="River Layer" title="River Layer" src="/images/ui/river.png" onclick="tg.mapViewModel.changeActiveLayer('river')"></span>
                            <span><img id="labelLayer" alt="Label Layer" title="Label Layer" src="/images/ui/sign.png" onclick="tg.mapViewModel.changeActiveLayer('label')"></span>
                            <span><img id="landmarkLayer" alt="Landmark Layer" title="Landmark Layer" src="/images/ui/marker.png" onclick="tg.mapViewModel.changeActiveLayer('landmark')"></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><img alt="Zoom In" title="Zoom In" src="/images/ui/plus.png" onclick="tg.mapViewModel.zoomIn()"/></span>
                </li>
                <li>
                    <span><img alt="Zoom Out" title="Zoom Out" src="/images/ui/minus.png" onclick="tg.mapViewModel.zoomOut()"/></span>
                </li>
            </div>
        </div>
    </body>
</html>

<script src="/scripts/tulpagraphy.js"></script>
<script src="/view-models/edit-map.js"></script>