<html>
    <head>
        <title>Tulpagraphy</title>
        <link rel="stylesheet" href="/content/tulpagraphy.css">
    </head>
    <body>
        <div id="tulpagraphy">
            <ul class="menu">
                <li>
                    <span><img alt="Menu" title="Menu" src="/images/ui/menu.png"/></span>
                    <ul>
                        <li>
                            <span><a href="/"><img id="home" alt="Home" title="Home" src="/images/ui/home.png"></a></span>
                            <span><a href="/views/manage-maps.html"><img id="manageMaps" alt="Manage Maps" title="Manage Maps" src="/images/ui/folder.png"></a></span>
                            <span><img id="editmap" alt="Edit Map" title="Edit Map" src="/images/ui/edit.png" onclick="editMap()"></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>

<script src="/scripts/tulpagraphy.js"></script>
<script src="/view-models/export-map.js"></script>