<html>
    <head>
        <title>Tulpagraphy</title>
        <link rel="stylesheet" href="/content/style.css" />
        <!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/underscore/underscore-min.js"></script> -->
        <script src="/node_modules/knockout/build/output/knockout-latest.js"></script>
        <!-- <script src="/scripts/tulpagraphy.core.js"></script>
		<script src="/Scripts/entity-models.js"></script> -->
		<script src="/scripts/tulpagraphy.js"></script>
        <nav>
            <ul id="menu">
                <li><a href="/">Tulpagraphy</a></li>
                <li><a href="/views/manage-maps.html">Manage Maps</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <div class="container">
			<h1>Maps</h1>
			<div class="row">
				<div class="col-3">
					<input type="button" class="btn" value="Create New Map" data-bind="click: createMap" />
				</div>
				<div class="col-3">
				</div>
				<div class="col-3">
				</div>
				<div class="col-3">
					<input type="button" class="btn" value="Clear All Maps" data-bind="click: clearMaps" />
				</div>
			</div>
			<section id="maps">
				<div class="row">
					<div class="col-4"><strong>ID / View</strong></div>
					<div class="col-4"><strong>Name</strong></div>
					<div class="col-4"></div>
				</div>
				<div class="row" data-bind="foreach: maps">
					<div class="col-4"><a class="button" data-bind="attr: { href: '/views/edit-map?id=' + id}, text: id"></a></div>
					<div class="col-4"><span data-bind="text: name"></span></div>
					<div class="col-4"><a href="#" class="button" data-bind="click: $root.deleteMap">Delete</a></div>
				</div>
			</section>
        </div>
    </body>
</html>

<script src="/view-models/manage-maps.js"></script>